/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Formularios */
.form-grupo {
    margin-bottom: 15px;
}

.form-grupo label {
    display: block;
    margin-bottom: 5px;
}

.form-grupo input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Botones */
.btn {
    display: inline-block;
    background-color: #855f45;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-secundario {
    background-color: #6c757d;
    padding: 10px 15px;
}

/* Búsqueda */
.busqueda {
    margin-bottom: 20px;
}

.busqueda input {
    padding: 8px;
    width: 70%;
    margin-right: 10px;
}

.error {
    color: red;
    background-color: #ffeeee;
    padding: 10px;
    margin-bottom: 15px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.imgJuego{
    width: 150px;
}